.addFavouriteForm .addFavouriteForm--tags,
.addFavouriteForm .addFavouriteForm--tags_input{
  margin-bottom: 0.4em;
}
.addFavouriteForm--tagsBoard{
  margin-bottom:24px;
}

.changeTagColorPopup-closing{
  position: absolute;
  right:5px;
  top:0;
  cursor: pointer;
}