.addFavouriteForm .addFavouriteForm--tags,
.addFavouriteForm .addFavouriteForm--tags_input{
  margin-bottom: 0.4em;
}
.addFavouriteForm--tagsBoard{
  margin-bottom:24px;
}

.changeTagColorPopup-closing{
  position: absolute;
  right:5px;
  top:0;
  cursor: pointer;
}
.addFavourite-modal .ant-modal-header{
  background-image: linear-gradient(to left, #c6c09c 0%, #f5cec7 100%) !important;
}
.addFavourite-modal .ant-modal-title{
  color:#fff;
  font-style:italic;
}
.addFavourite-modal .ant-modal-close{
  color:#fff
}