.abso_center{
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* theme */
.theme-comfort-noteCard-border{
  border:1px solid rgba(245,206,199,0.4) !important;
}
.theme-comfort-boxShadow:hover{
  box-shadow: 0 1px 2px -2px #f5cec746, 0 3px 6px 0 #f5cec738, 0 5px 12px 4px #f5cec723 !important;
}
.theme-comfort-icon{
  color:#e79796 !important;
}
.theme-comfort-helpText{
  color:#e79796 !important;
}
.theme-comfort-helpText:hover{
  color:#ffb284;
}
.theme-comfort-icon-border{
  border:1px solid #e79796 ;
}
.theme-comfort-icon-hovered:hover,
.theme-comfort-icon-hovered:focus{
  border-color:#e79796 !important;
  color:#e79796 !important;
}
.theme-comfort-icon-secondary{
  color:#f5cec7 !important;
}
.theme-comfort-label_underline{
  position: relative;
}
.theme-comfort-noteTag.note_tagItem{
  background:linear-gradient(75deg, #ffb284 10%,#e79796);
  border:none;
  color:#fff;
}
.theme-comfort-noteTag.note_tagItem .anticon-close{color:#fff;}
.theme-comfort-label_underline::after{
  position: absolute;
  content:'';
  left:50%;
  bottom: 0;
  transform: translateX(-50%);
  width:150%;
  height:.3em;
  border-radius: 3px;
  background:linear-gradient(45deg, #ffb284 30%,#e79796);
}
.theme-comfort-button{
  background:linear-gradient(130deg, #f5cec7 40%, #e79796) !important;
  border:none !important;
  border-radius: 20px !important;
  min-width: 80% !important;
}